<div class="page-bg"></div>

  <div class="animation-wrapper">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
    <div class="particle particle-3"></div>
    <div class="particle particle-4"></div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #020024;">
    <a class="navbar-brand" href="/">Movie Journal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Genre
          </a>
          <div id="navbarDropdownMenu" class="dropdown-menu" aria-labelledby="navbarDropdown">
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="openPage('/toprated');">Top Rated Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="openPage('/upcoming');">Upcoming movies</a>
        </li>
      </ul>
      <div>
        <form name="loginas" class="form-inline p-3">
          <input class="form-control border border-dark" style="width: 100px;" type="button" name="register" onclick="openPage('/register')" value="Register">
          <input class="form-control border border-dark text-center" style="width: 100px;" name="login" type="button" value="Login" href="#" data-toggle="modal" data-target="#at-login">
        </form>
      </div>
    </div>
  </nav>

  <div>
    <h1 class="align-middle neon" style="font-weight: bold; margin: 30px;">Top Rated Movies</h1>
  </div>

<div class="container">
  <table class="table" id="example">
    <thead>
      <tr>
        <th >#</th>
        <th >Image</th>
        <th >Title</th>
        <th >Description</th>
        <th >Vote Average</th>
        <th >Release Date</th>
      </tr>
    </thead>
    <tbody>

    {{#each data}}
      <tr>
        <th style="vertical-align:middle;">{{math @index "+" 1}}</th>
        <td valign="middle" style="padding: 0;"><img src='{{concat this.poster_path}}'/></td>
        <td style="vertical-align:middle;">{{this.title}}</td>
        <td style="vertical-align:middle;">{{this.overview}}</td>
        <td style="vertical-align:middle;">{{this.vote_average}}</td>
        <td style="vertical-align:middle;">{{this.release_date}}</td>
      </tr>
    {{/each}}

  </tbody>
</table>
</div>

<div class="modal fade" id="at-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body login">

        <form method="POST" action="/">
          <div class="form-group">
            <label for="InputUsername">Username</label>
            <input style="margin-left: 0;" type="text" name="username" class="form-control" id="InputUsername" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input style="margin-left: 0;" type="password" name="password" class="form-control" id="InputPassword" placeholder="Password">
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
      </form>
    </div>
  </div>
</div>
